header{
	width: 100%;
	height: 70px;
	background: #36404A;
}
.header-left{
	float: left;
	line-height: 70px;
	margin-left: 20px;
}
.header-left img{
	width: 80px;
	height: 40px;
	vertical-align: middle;
	float: left;
	margin-top: 15px;
}
.header-left span{
	font-size: 25px;
	color: #fff;
	margin-left: 10px;
}
.header-right{
	float: right;
	line-height: 70px;
	margin-right: 20px;
}
.header-right div{
	float: left;
	line-height: 70px;
}
.header-right div .glyphicon{
	font-size: 25px;
	color: #fff;
	vertical-align: middle;
}
.header-right div .badge{
}
.header-right  .icon{
	width: 100px;
	height: 70px;
	text-align: center;
	line-height: 70px;
}
.header-right img{
	display: inline-block;
	width: 50px;
	height: 50px;
	vertical-align: middle;
}
.header-right ul li a span{
	margin-right: 10px;
}
section{
	width: 100%;
	position: absolute;
	left: 0;
	top: 70px;
	bottom: 0;
	background: #fff;
}

section aside{
	width: 15%;
	height: 100%;
	background: #fff;
	float: left;
}
section .content{
	width: 85%;
	height: 100%;
	background: #E3E3E3;
	float: right;
	padding-left: 20px;
	padding-right: 20px;
}
@keyframes rotateFall {
    0% {
        transform: rotateZ(0deg);
    }
    20% {
        transform: rotateZ(10deg);
        animation-timing-function: ease-out;
    }
    40% {
        transform: rotateZ(17deg);
    }
    60% {
        transform: rotateZ(16deg);
    }
    100% {
        transform: translateY(100%) rotateZ(17deg);
    }
}
@keyframes slideOutLeft {
    to {
        transform: translateX(-100%);
    }
}
@keyframes rotateOutNewspaper {
    to {
        transform: translateZ(-3000px) rotateZ(360deg);
        opacity: 0;
    }
}
@keyframes scaleUp {
    from {
        opacity: 0.3;
        -webkit-transform: scale(0.8);
    }
}
@keyframes slideInRight {
    from {
        transform:translateX(100%);
    }
    to {
        transform: translateX(0);
    }
}
@keyframes slideInUp {
    from {
        transform:translateY(100%);
    }
    to {
        transform: translateY(0);
    }
}
.ng-enter {
    z-index: 8888;
}
.ng-leave {
    z-index: 9999;
}
/*.user.ng-enter {
    animation: scaleUp 0.5s both ease-in;
}
.user.ng-leave {
    transform-origin: 0% 0%;
    animation: rotateFall 1s both ease-in;
}*/
.user.ng-enter {
    animation:slideInRight 25s both ease-in;
}
.user.ng-leave {
    animation:slideOutLeft 25s both ease-in;
}
