body,p,ul,li,ol,dl,dt,dd,h1,h2,h3,h4,h5,h6,fieldset,legend{
	margin: 0;
	padding: 0;
}
body{
	font:12px "微软雅黑";
}
a{
	text-decoration: none;
	color:#666;
}

em,i{
	font-style: normal;
}
h1,h2,h3,h4,h5,h6,b,strong{
	font-weight:normal;
	font-size: 14px;
}
ul{
	list-style: none;
}
img{
	border: none;
	display: block;
}
input{
	border: 0;
	padding: 0;
}